.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  background-color: white;

  h3 {
    margin: 0;
  }

  p {
    max-height: 100px;
  }
}

.image {
  max-height: 200px;
}
