.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  background-color: white;
  border-radius:25px; 
  
  h3 {
    margin: 0;
  }

  p {
    max-height: 100px;
  }
}

.image {
  max-height: 200px;
  border-radius: 50%;
  border: 2px inset #152347;
}
